<div class="push-address-choose">
    <ul class="ui-row" style="background-color: white;">
        <li class="ui-col ui-col-50 push-address-parent">
            <div class="ui-arrowlink ui-border-b" id="south">南区</div>
            <div class="ui-arrowlink ui-border-b" id="north">北区</div>
        </li>
        <li class="ui-col ui-col-50 push-address-child">
            <ul class="south-child">
                <li class="ui-border-b" data-address='一二食堂之间'>一二食堂之间</li>
                <li class="ui-border-b" data-address='火之舞'>火之舞</li>
                <li class="ui-border-b" data-address='南一门'>南一门</li>
                <li class="ui-border-b" data-address='南二门'>南二门</li>
                <li class="ui-border-b" data-address='南三门'>南三门</li>
                <li class="ui-border-b" data-address='三食堂广场'>三食堂广场</li>
                <li class="ui-border-b" data-address='体育馆前'>体育馆前</li>
                <li class="ui-border-b" data-address='西篮球场'>西篮球场</li>
                <li class="ui-border-b" data-address='南区操场'>南区操场</li>
                <li class="ui-border-b" data-address='南湖操场'>南湖操场</li>
                <li class="ui-border-b" data-address='南湖园'>南湖园</li>
                <li class="ui-border-b" data-address='正门广场'>正门广场</li>
            </ul>
            <ul class="north-child">
                <li class="ui-border-b" data-address='美院圆楼'>美院圆楼</li>
                <li class="ui-border-b" data-address='北区公寓篮球场'>北区公寓篮球场</li>
                <li class="ui-border-b" data-address='教工食堂'>教工食堂</li>
            </ul>
        </li>
        <li class="ui-col ui-col-50 ui-border-t push-address-cancel" id="address-cancel">取消</li>
        <li class="ui-col ui-col-50 ui-border-t push-address-ok" id="address-ok">确定</li>
    </ul>
</div>