{% extends 'layouts.html' %}

{% block title %}学生认证{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/check.css') }}">
<style>
    .lastView::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-top: 1px solid #d9d9d9;
        color: #d9d9d9;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        left: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div class="weui_cells weui_cells_form check">
    <form action="" enctype="multipart/form-data" method="post" id="checkForm">
        <div class="weui_cell" id="school-box">
            <div class="weui_cell_hd"><label class="weui_label">学号</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="schoolID" type="number" pattern="[0-9]*" placeholder="你的大学学号" required="请输入你的大学学号">
            </div>
            <div class="weui_cell_ft" style="opacity: 0;width: 16px;"><i class="ui-icon-close" style="line-height: 20px;"></i></div>
        </div>
        <div class="weui_cell" id="pwd-box">
            <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="password" type="password" placeholder="你的教务系统密码" required="请输入你的教务系统密码">
            </div>
            <div class="weui_cell_ft" style="opacity: 0;width: 16px;"><i class="ui-icon-close" style="line-height: 20px;"></i></div>
        </div>
        <div class="push-button-box ui-whitespace">
            <div class="push-button">
                <a href="javascript:;">提交验证</a>
            </div>
        </div>
        <div class="check-notice">
            <span>点击上面的“提交验证”按钮，即表示你同意<a href="javascript:;">比特工场学生市场交易管理协议</a></span>
        </div>
    </form>
</div>
<!-- 地点选择器 -->
{% include 'modules/address-choose.html' ignore missing %}
<!-- 商品提交所涉及的提示 -->
{% include 'modules/push-tip.html' ignore missing %}
{% endblock %}

{% block script %}
<script>
    var openid = '{{ session["openid"] }}';
</script>
<script src="{{ url_for('static', filename='dist/js/check-min.js') }}"></script>
{% endblock %}