{% from 'modules/weui.html' import toast, loadingToast %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <link href="{{ url_for('static', filename='dist/img/bit.png') }}" rel="shortcut icon">
    <link href="http://cdn.bootcss.com/weui/0.4.2/style/weui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/frozenui/1.3.0/css/frozen.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/common.css') }}?323223323">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    {# 页面上的 Toast #}
    {{ toast() }}
    {# 页面上的loadingToast #}
    {{ loadingToast() }}
    {% block script %}
    {% endblock %}
    {# // <script src="{{ url_for('static', filename='dist/js/bundle-min.js') }}"></script> #}
</body>
</html>